.bg-dark-red{
    background-color: #570c0c;
}

.Encabezado {
    font-family: monospace;
    color: white;
}

.jumbotron {
    background-color: darkred;
    color: black;
    margin-top: 50px;
}

.precios-icon{
    padding-right: 20px;
}

.descripcion{
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-outline-dark{
    border-color: darkred;
    color: darkred;
}
.btn-outline-dark:hover{
    background-color: darkred;
}

.btn-dark{
    background-color: darkred;
}
.btn-dark:hover{
    background-color: #570c0c;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}
.card-hotel:hover{
    border-width: 1px;
    border-color: darkred;
}

.btn-reserva {
    width: 100%;
}

.items-footer {
    color: white;
}
.items-footer:hover {
    color: white;
}

footer{
    padding: 10px 10px 0;
    background-color: darkred;
    margin-bottom: 0px;
    margin-top: 50px;
    color: white;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.metodoHover:hover{
    background-color: rgba(238, 238, 238, 0.959);
}