.bg-dark-red {
  background-color: #6e0b04; }

.Encabezado {
  font-family: monospace;
  color: white; }

.jumbotron {
  background-color: #960e04;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px; }

.precios-icon {
  padding-top: 0;
  padding-right: 20px;
  padding-left: 0;
  padding-bottom: 0; }

.descripcion {
  margin-top: 50px;
  margin-bottom: 50px; }

.btn-outline-dark {
  border-color: #960e04;
  color: #960e04; }

.btn-outline-dark:hover {
  background-color: #960e04; }

.btn-dark {
  background-color: #960e04; }

.btn-dark:hover {
  background-color: #570c0c; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0; }

.card-hotel:hover {
  border-width: 1px;
  border-color: #960e04; }

.btn-reserva {
  width: 100%; }

.items-footer {
  color: white; }

.items-footer:hover {
  color: white; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  background-color: #960e04;
  margin-top: 50px;
  margin-bottom: 0;
  color: white; }

.footer-address-icon {
  padding-top: 0;
  padding-right: 10px;
  padding-left: 0;
  padding-bottom: 0; }

.tab-content {
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0; }

.metodoHover:hover {
  background-color: rgba(238, 238, 238, 0.959); }
