$dark_red: #960e04;
$bitDarkRed: #6e0b04;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin espaciado ($top,$right,$left,$bottom) {
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
    padding-bottom: $bottom;
}

.bg-dark-red{
    background-color: $bitDarkRed;
}

.Encabezado {
    font-family: monospace;
    color: white;
}

.jumbotron {
    background-color: $dark_red;
    color: black;
    @include margenes(50px, 15px);
}

.precios-icon{
    @include espaciado(0,20px,0,0);
}

.descripcion{
    @include margenes(50px, 50px);
}

.btn-outline-dark{
    border-color: $dark_red;
    color: $dark_red;
}
.btn-outline-dark:hover{
    background-color: $dark_red;
}

.btn-dark{
    background-color: $dark_red;
}
.btn-dark:hover{
    background-color: #570c0c;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0);
}
.card-hotel:hover{
    border-width: 1px;
    border-color: $dark_red;
}

.btn-reserva {
    width: 100%;
}

.items-footer {
    color: white;
}
.items-footer:hover {
    color: white;
}

footer{
    @include espaciado(10px, 10px, 10px, 0);
    background-color: $dark_red;
    @include margenes(50px, 0);
    color: white;
}

.footer-address-icon{
    @include espaciado(0, 10px, 0, 0);
}

.tab-content{
    @include espaciado(10px, 0, 0, 0);
}

.metodoHover:hover{
    background-color: rgba(238, 238, 238, 0.959);
}