@dark_red: #961108;
@bitDarkRed: #6e0b04;

.margenes (@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.espaciado (@top,@right,@left,@bottom) {
    padding-top: @top;
    padding-right: @right;
    padding-left: @left;
    padding-bottom: @bottom;
}

.bg-dark-red {
    background-color: @bitDarkRed; }
  
  .Encabezado {
    font-family: monospace;
    color: white; }
  
  .jumbotron {
    background-color: @dark_red;
    color: black;
    .margenes(50px, 15px); }
  
  .precios-icon {
    .espaciado(0,20px,0,0); }
  
  .descripcion {
    .margenes(50px, 50px); }
  
  .btn-outline-dark {
    border-color: @dark_red;
    color: @dark_red; }
  
  .btn-outline-dark:hover {
    background-color: @dark_red; }
  
  .btn-dark {
    background-color: @dark_red; }
  
  .btn-dark:hover {
    background-color: #570c0c; }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .card-hotel:hover {
    border-width: 1px;
    border-color: @dark_red; }
  
  .btn-reserva {
    width: 100%; }
  
  .items-footer {
    color: white; }
  
  .items-footer:hover {
    color: white; }
  
  footer {
    .espaciado(10px,10px,10px,0);
    background-color: @dark_red;
    .margenes(50px, 0px);
    color: white; }
  
  .footer-address-icon {
    .espaciado(0,10px,0,0); }
  
  .tab-content {
    .espaciado(10px,0,0,0); }
  
  .metodoHover:hover {
    background-color: rgba(238, 238, 238, 0.959); }
  